{
    "extends": [
        "eslint:recommended",
        "plugin:node/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 2017,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }        
    },
    "env": {
        "es6": true
    },
    "rules": {
        "node/no-unpublished-require": "off"
    }
}
